hidden=[".config"]
modules = ["web"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40469070
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx --yes serve . -p 3000 -l 0.0.0.0"
